body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top-helper{
    height: 56vh;
    width: 100%;
    background-color: #BFDBF7;
}
/* Header */
.top-bar{
    width: 100%;
    height: 47vh;
    background-color: #022B3A;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: 0.2s;
}
.top-bar img{
    height: 95%;
    transition: 0.2s;
}
.top-bar div p{
    font-weight: Bold;
    color: #CAD2C5;
    font-size: clamp(0px, 2vw, 90px);
    transition: 0.2s;
    margin: 0;
}
.top-bar div .p1{
    font-size: clamp(0px, 3.2vw, 120px) !important;
    transition: 0.2s;
}
.top-bar div{
    margin-left: 15px;
    transition: 0.2s;
}

/* TaskBar */
.taskbar{
    position: fixed;
    width: 100%;
    height: 9vh;
    margin-top: 47vh;
    background-color: #E1E5F2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    transition: 0.2s;
}
.taskbar div{
    background-color: black;
    width: 2px;
    height: 60%;
    transition: 0.2s;
}
.taskbar a{
    color: black;
}
.aux-taskbar{
    margin-top:-200px;
    margin-bottom: 200px;
    z-index: -1;
}

/* Sticky */
header.sticky .top-bar{
    height: 150px;
}
header.sticky .top-bar img{
    height: 90%;
}
header.sticky .taskbar{
    margin-top: 150px;
}
header.sticky .top-bar div .p1{
    font-size: 4vh !important;
}
header.sticky .top-bar div p{
    font-size: 3vh;
}

/* rec-title */
.rec-title{
    width: 95%;
    height: 50px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 2px 2px 8px black;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.rec-title p{
    margin-left: 5%;
    font-size: 24px;
}

/* skills */
.skills{
    width: 100%;
    height: 130vh;
    background-color: #BFDBF7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills .r-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: 50px 0;
}
.r1-s, .r2-s, .r3-s, .r4-s, .r5-s, .r6-s, .r7-s, .r8-s, .r9-s{
    width: 20%;
    height: 20vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:5px solid #022B3A;
    border-radius: 20px;
    transition: 0.4s;
}
.r1-s p, .r2-s p, .r3-s p, .r4-s p, .r5-s p, .r6-s p, .r7-s p, .r8-s p, .r9-s p{
    display: none;
    font-size: 1.2vw;
    margin-top: -15px;
}
.r1-s .p-top, .r2-s .p-top, .r3-s .p-top, .r4-s .p-top, .r5-s .p-top, .r6-s .p-top, .r7-s .p-top, .r8-s .p-top, .r9-s .p-top{
    font-size: 1.4vw;
    font-weight: bold;
    margin-top: 0;
}
.r1-s:hover p, .r2-s:hover p, .r3-s:hover p, .r4-s:hover p, .r5-s:hover p, .r6-s:hover p, .r7-s:hover p, .r8-s:hover p, .r9-s:hover p{
    display: flex;
    justify-content: flex-start;
}
.r1-s img, .r2-s img, .r3-s img, .r4-s img, .r5-s img, .r6-s img, .r7-s img, .r8-s img{
    margin-top: 2vh;
    width: 30%;
}
.r9-s div{
    margin-top: 1vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r9-s div img{
    width: 20%;
}
.r1-s:hover{
    background-color: #FF551D;
    height: 30vh;
} 
.r2-s:hover{
    background-color: #0074BE;
    height: 30vh;
} 
.r3-s:hover{
    background-color: #F8DC3E;
    height: 30vh;
} 
.r4-s:hover{
    background-color: #D19FFF;
    height: 30vh;
} 
.r5-s:hover{
    background-color: #3CA3DD;
    height: 30vh;
} 
.r6-s:hover{
    background-color: #7F8B9A;
    height: 30vh;
} 
.r7-s:hover{
    background-color: #8694C1;
    height: 30vh;
}
.r8-s:hover{
    background-color: #706B6A;
    height: 30vh;
}
 .r9-s:hover{
    background-color: #743F2D;
    height: 30vh;
}

/* projects */
.projects{
    width: 100%;
    height: 70vh;
    background-color: #1F7A8C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects .r2-container{
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    margin-top: 4%;
}
.r1-p, .r2-p{
    height: 12vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    border:5px solid #E5F4E3;
    border-radius: 20px;
    transition: 0.4s;
}
.r1-p p, .r1-p a, .r2-p p, .r2-p a{
    margin: 0;
    color: #E5F4E3;
}
.r1-p a, .r2-p a{
    cursor: pointer;
}
.r1-p .p-top, .r2-p .p-top{
    font-size: clamp(0px, 2vw, 100px) !important;
}
.r1-p div, .r2-p div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}
.r1-p div p, .r1-p div a, .r2-p div p, .r2-p div a{
    font-size: 0px;
    color: #222222;
    transition: 0.6s;
}
.r1-p:hover, .r2-p:hover{
    height: 25vh;
    justify-content: flex-start;
    padding-top: 2%;
}
.r1-p:hover div p, .r1-p:hover div a, .r2-p:hover div p, .r2-p:hover div a{
    font-size: clamp(0px, 1.5vw, 100px);
    color: #E5F4E3;
    margin-top: 1%;
}

/* about */
.about{
    width: 100%;
    height: 90vh;
    background-color: #BFDBF7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .r3-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 5vh 0;
}
.r1-a, .r2-a, .r3-a, .r4-a, .r5-a, .r6-a{
    width: 20%;
    height: 15vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:5px solid #022B3A;
    border-radius: 20px;
    transition: 0.4s;
}
.about .p-top{
    font-size: clamp(0px, 1.6vw, 100px) !important;
    font-weight: bold;
    margin: 0;
}
.about div div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
}
.about div div div p{
    margin: 0;
    width: 90%;
    color: white;
    text-align: center;
    font-size: 0px;
    transition: 0.4s;
}
.r1-a:hover, .r2-a:hover, .r3-a:hover, .r4-a:hover, .r5-a:hover, .r6-a:hover{
    justify-content: flex-start;
    height: 30vh;
    padding-top: 3%;
}
.r1-a:hover div, .r2-a:hover div, .r3-a:hover div, .r4-a:hover div, .r5-a:hover div, .r6-a:hover div{
    margin-top: 5%;
}
.r1-a:hover div p, .r2-a:hover div p, .r3-a:hover div p, .r4-a:hover div p, .r5-a:hover div p, .r6-a:hover div p{
    font-size: clamp(0px, 1.3vw, 100px);
    color: black;
}

/* contact */
.contact{
    width: 100%;
    height: 70vh;
    background-color: #1F7A8C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact .r4-container{
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #E1E5F2;
    margin-top: 1%;
}
.contact .r4-container a{
    color: #E1E5F2;
    font-size: 1.8vw;
    margin: 1% 0;
    cursor: pointer;
}


@media only screen and (max-height: 650px) {
    .skills{
        height: 140vh;
    }
}
@media only screen and (max-width: 1024px){
    .skills img{
        height: 50%;
    }
    .r9-s div img{
        width: 60%;
    }
}
@media only screen and (max-width: 780px){
    .top-bar{
        height: 36vh;
    }
    .top-helper{
        height: 45vh;
    }
    .taskbar{
        margin-top: 36vh;   
    }
    .r1-p:hover, .r2-p:hover{
        height: 19vh;
    }
    .r1-a:hover, .r2-a:hover, .r3-a:hover, .r4-a:hover, .r5-a:hover, .r6-a:hover {
        height: 24vh;
    }
}
